body {
    padding: 0;
    font-family: 'TimesNewRoman', "Times New Roman", "Times", times, serif;
}
#wrapper {
    margin: 2em auto;
    width: 70%;
    max-width: 1920px;
}
#welcome {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 100vh;
}
#homequote {
    height: 100vh;
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    align-items: center;        /* center items horizontally, in this case */
}
#homepage-colored {
    width: 100%;
    background-color: #fdf6e3;
    border-style: solid;
    border-color: #fdf6e3;
    border-width: 2em 15vw;
    margin-left: -15vw;
    margin-bottom: 6em;
}
#homepage {
    width: 66%;
    margin-top: 1.5em;
    margin-bottom: 6em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* End IDs */

/* Navigations */
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 1.15em;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav.homepage {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

/* End Navigation */

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

/* Header declarations */

h1, h2, h3, h4, h5, h6 {
    font-family:'Montserrat Alternates'; 'Helvetica', 'Arial', 'Sans-Serif';
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.6em;
}
h1.homepage {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
h2.homepage {
    text-align: center;
}
p {
    font-size: 1.75em;
    line-height: 1.4em;
    color: #333;
}
p.homepage {
    font-size: 1.9em;
}
table.homepage {
    font-size: 1.75em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .85em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.75em;
}

ul.posts li {
    list-style: none;
}
