body {
    font-family: 'EB Garamond', serif;
    margin: 60px auto;
    width: 70%;
}
#welcome {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 100vh;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 1.1em;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav.homepage {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Montserrat Alternates'; 'Helvetica', 'Arial', 'Sans-Serif';
}
h1.homepage {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    font-size: 2em;
    font-family:'Montserrat Alternates'; 'Helvetica', 'Arial', 'Sans-Serif';
}
h2.homepage {
    text-align: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
p.homepage {
    font-size: 1.9em;
}
#homepage {
    width: 66%;
    margin-top: 1.5em;
    margin-bottom: 6em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.post {
}
