<footer>
	<ul>
        <li>
            <script language="JavaScript">
                var username = "ryanjonathanb";
                var hostname = "gmail.com";
                var linktext = username + "@" + hostname ;
                document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + "email" + "</a>");
            </script>
        </li>
		<li><a href="https://id.linkedin.com/in/ryanjonathanb">linkedin</a></li>
		<li><a href="https://github.com/ryanjonathanb">github.com/ryanjonathanb</a></li>
	</ul>
</footer
